@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

#hero {
    position: relative;
    width: 100%;
    height: 1080px;
    background: linear-gradient(rgba(32, 54, 86, 0.9),
            rgba(32, 54, 86, 0.9)),
            url(./assets/fondo.jpg);
    background-size: cover;
    background-position: center center;
}

#hero::after {
    content: '';
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 200px;
    background: rgba(235, 239, 247, 0.9);
    clip-path: polygon(50% 50%, 100% 100%, 0 100%);
}

header{
    max-width: 1140px;
    margin: auto;
}

.encabezado{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 30px;
}

.encabezado div{
    width: 33%;
}
 
.encabezado .redes a{
    width: 37px;
    height: 37px;
    display: inline-block;
    color: #fff;
    margin-right: 25px;
    transition: color .5s linear;
}

.encabezado .redes a:hover{
    color: #d90f0e;
}

.encabezado .marca{
    text-align: center;
}

.encabezado .marca img{
    display: block;
    margin: auto;
    width: 100px;
    border-radius: 30%;
}

.encabezado .marca a{
    display: block;
    text-decoration: none;
    font-size: 30px;
    color: #fff;
    font-weight: 700;
}

.encabezado .marca .slogan{
    font-size: 14px;
    color: #9faabb;
}

.encabezado .botones{
    text-align: right;
}

.encabezado .botones span{
    display: inline-block;
    width: 37px;
    height: 37px;
    border-radius: 50%;
    background: linear-gradient(to top, #d90f0e 0%, #d90f0e 100%);
    color: #fff;
    text-align: center;
    line-height: 37px;
    cursor: pointer;
    transition: background-color .5s linear;
}

.encabezado .botones span:hover{
    background-color: #fff;
    color: #000;
}

.encabezado .botones .bar{
    display: none;
}

.menu{
    width: 100%;
    border-top: 1px solid #ebebeb;
    padding: 20px 0px;
}

.menu ul{
    display: flex;
    justify-content: center;
    list-style: none;
}

.menu ul li a{
    display: inline-block;
    padding: 6px 20px;
    text-decoration: none;
    color: #fff;
    font-size: 14px;
}

.menu ul li a:hover{
    background-color: #d90f0e;
    border-radius: 5px;
    color: #000;
}

.info{
    max-width: 700px;
    margin: auto;
    text-align: center;
    color: #fff;
    padding-top: 60px;
}

.info h1{
    font-size: 48px;
    font-weight: 700;
    padding-bottom: 20px;
}

.info p{
    font-size: 18px;
    line-height: 30px;
    opacity: 7;
    padding-bottom: 24px;
}

.info a{
    display: inline-block;
    padding: 7px 15px;
    background: transparent;
    border-radius: 50px;
    border: 1px solid #fff;
    text-decoration: none;
    color: #fff;
}

.info a:hover{
    background: #d90f0e;
    color: #000;
}

/*Pantalla de búsqueda */

.busqueda{
    position: absolute;
    display: none;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    background: #9faabb;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.close{
    position: absolute;
    top: 20px;
    right: 20px;
    font-size: 50px;
    cursor: pointer;
    color: #d90f0e;
}

.busqueda h2{
    font-size: 48px;
    font-weight: 700;
    color: #fff;
    padding-bottom: 20px;
}

.controles{
   width: 650px;
   margin: auto;
}

.controles  form{
    display: flex;
    justify-content: center;
    align-items: center;
}

.controles  form input{
    width: 70%;
    padding: 10px;
    border: 1px solid #d90f0e;
    border-radius: 5px;
    font-size: 18px;
    border-radius: 20px;
}

.controles form input:focus{
    outline: none;
}

.controles  form button{
    margin: 0 7px;
    padding: 10px 20px;
    background: #d90f0e;
    border: none;
    border-radius: 20px;
    color: #fff;
    font-size: 18px;
    cursor: pointer;
}

.controles  form button:hover{
    background: #d90f0e;
    color: #000;
}


/* Pantalla de menu lateral */

.menu-lateral{
    position: fixed;
    display: none;
    top: 0;
    right: 0;
    width: 300px;
    height: 100vh;
    background: #9faabb;
    display: block;
    padding: 40px;
}

.btnclose{
    position: absolute;
    top: 20px;
    right: 20px;
    font-size: 50px;
    cursor: pointer;
    color: #d90f0e;
}

.menu-lateral .logo{
    text-align: center;
    padding: 40px 0;
}

.menu-lateral .logo a{
    text-decoration: none;
    font-size: 30px;
    color: #000;
    font-weight: 700;
}

.navMenu ul {
    list-style: none;
}

.navMenu ul li {
 position: relative;
}

.navMenu ul li a {
    display: block;
    padding: 10px 20px;
    text-decoration: none;
    color: #fff;
    font-size: 18px;
}

.navMenu ul li a:hover{
    background-color: #d90f0e;
    border-radius: 5px;
    color: #000;
}

.navMenu ul li::after{
    content: '';
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 1px;
    background: #fff;
}

/*responsive*/

@media only screen and (max-width: 850px){
    #hero .redes{
        display: none;
    }
    #hero .botones .bar{
        display: inline-block;
    }
    .menu{
        display: none;
    }
}