@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Open Sans', sans-serif;
    background-image: url(./assets/fondo.jpg);
    background-size: cover;
}

nav {
    max-width: 900px;
    margin: auto;
    background-color: #333;
    font-size: 20px;
    margin-top: 50px;
}

.menu-horizontal {
    list-style: none;
    display: flex;
    justify-content: space-around;
}

.menu-horizontal li a {
    display: block;
    padding: 15px 20px;
    color: white;
    text-decoration: none;
}

.menu-horizontal li:hover {
    background-color: #800000;
}

.menu-vertical {
    position: absolute;
    display: none;
    list-style: none;
    width: 200px;
    background-color: rgba(0, 0, 0, 0.5);
}

.menu-horizontal li:hover .menu-vertical {
    display: block;
}

.menu-vertical li:hover {
    background-color: #333;
}

.menu-vertical li a {
    display: block;
    padding: 15px 15px 15px 20px;
    color: white;
    text-decoration: none;
}

/*#html{
    margin: auto;
    padding: 20px;
    max-width: 900px;
    background-color: rgba(0, 0, 0, 0.5);
}*/

section {
    margin: 20px;
    padding: 20px;
    background-color: rgba(0, 0, 0, 0.5);
}

h2 {
    color: white;
    text-align: center;

}

p {
    color: white;
}

h2 img {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: auto;
    padding: 20px;
    max-width: 900px;
}