.tooltip{
    width: 200px;
    position: relative;
    padding-left: 10px;
    border: 1px solid #c2c2c2;
}

.tooltip .tooltiptext{
    visibility: hidden;
    width: 200px;
    background-color: #282a35;
    color: white;
    text-align: center;
    border-radius: 6px;
    padding: 15px;
    position: absolute;
    z-index: 1;
    top: -5px;
    left: 105%;
}

.tooltip:hover .tooltiptext{
    visibility: visible;
}

.tooltip:hover{
    background-color: #282a35;
    color: white;
}

.tooltip .tooltiptext::after{
    content: "";
    position: absolute;
    top: 40px;
    right: 100%;
    margin-top: -5px;
    border-width: 5px;
    border-style: solid;
    border-color: transparent black transparent transparent;
}